#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  color: lightslategray;
}

.search-box{
  padding: 2rem;
  background-color: blanchedalmond;
  display: flex;
  gap: 1rem;
}
tr{
  background-color: gray;
  border: 2px solid black;
  color: black;
}
td{
  padding: 1rem;
}
.header{
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
